#!/usr/bin/env bash

    # -XX:+UseZGC \
    # -XX:StartFlightRecording=filename=/root/recording.jfr \
#    --cluster {% for i in range(groups['nodes'].index(ansible_facts['nodename']) + 1) %}{{ hostvars[groups['nodes'][i]]['ansible_facts']['default_ipv4']['address'] }}:8011{{ " " if not loop.last }}{% endfor %} \
# --cluster {% for node in groups['nodes'] %}{{ hostvars[node]['ansible_facts']['default_ipv4']['address'] }}:8011{{ " " if not loop.last else ""}}{% endfor %} \

java \
    -Xmx10G \
    --class-path "/root/probench/lib/*" probench.cli node \
    --name {{ ansible_facts['nodename'] }} \
    --listen-client-port 8010 \
    --listen-peer-port 8011 \
    --cluster {% for i in range(groups['nodes'].index(ansible_facts['nodename']) + 1) %}{{ hostvars[groups['nodes'][i]]['ansible_facts']['default_ipv4']['address'] }}:8011{{ " " if not loop.last }}{% endfor %} \
    --initial-cluster-ids {% for node in groups['nodes'] %}{{ node }}{{ " " if not loop.last else ""}}{% endfor %} \
    --commit-reads {{ commit_reads }} \
    --delta-storage-type {{ delta_storage_type | default('keep-all')}} \
    --timeout {{ leader_timeout }} &> /root/pb-logs.txt
