#!/usr/bin/env bash

HOST={{ ansible_facts['default_ipv4']['address'] }}

rm -rf /tmp/data.etcd

etcd \
    --data-dir=/tmp/data.etcd \
    --name {{ ansible_facts['nodename'] }} \
    --initial-advertise-peer-urls http://$HOST:2381 \
    --listen-peer-urls http://$HOST:2381 \
    --advertise-client-urls http://$HOST:8010 \
    --listen-client-urls http://$HOST:8010 \
    --initial-cluster {% for node in groups['nodes'] %}{{ node }}=http://{{ hostvars[node]['ansible_facts']['default_ipv4']['address'] }}:2381{{ "," if not loop.last else ""}}{% endfor %} \
    --election-timeout={{ leader_timeout }} \
    --heartbeat-interval=10 \
    --initial-cluster-state new \
    --initial-cluster-token token-01 {% if max_batch_size is defined %}\
    --max-txn-ops {{ max_batch_size }} \
    --backend-batch-limit {{ max_batch_size}} {% endif %}

